absl-py==1.4.0
accelerate==0.26.0
AccessControl==5.6
Acquisition==4.12
addict==2.4.0
aiohttp==3.9.1
aiosignal==1.3.1
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-project==0.9.1
anyio==2.2.0
appdirs==1.4.4
argh==0.26.2
argon2-cffi==20.1.0
asn1crypto==1.4.0
astroid==2.6.6
astropy==4.3.1
async-generator==1.10
async-timeout==4.0.3
atomicwrites==1.4.0
attrs==21.2.0
AuthEncoding==4.3
autopep8==1.5.6
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
basicsr==1.4.2
bcrypt==3.2.0
beautifulsoup4==4.10.0
bitarray==2.3.0
bkcharts==0.2
black==19.10b0
bleach==4.0.0
bokeh==2.4.1
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
BTrees==4.11.0
cachetools==5.3.1
certifi==2022.9.24
cffi==1.15.0
Chameleon==3.10.1
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.3
cloudpickle==2.0.0
clyent==1.2.2
cmake==3.28.1
colorama==0.4.4
conda-content-trust==0+unknown
conda-pack==0.7.0
conda-package-handling==1.7.3
conda-repo-cli==1.0.4
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography==35.0.0
cycler==0.10.0
Cython==0.29.24
cytoolz==0.11.0
dask==2021.10.0
DateTime==4.7
debugpy==1.4.1
decorator==5.1.0
defusedxml==0.7.1
diff-match-patch==20200713
diffusers==0.21.0
distributed==2021.10.0
DocumentTemplate==4.1
docutils==0.17.1
einops==0.6.1
entrypoints==0.3
et-xmlfile==1.1.0
ExtensionClass==4.8
fairscale==0.4.13
fastcache==1.1.0
filelock==3.3.1
flake8==3.9.0
Flask==2.0.2
fonttools==4.25.0
frozenlist==1.4.1
fsspec==2023.12.2
future==0.18.2
gevent==21.8.0
glob2==0.7
gmpy2==2.0.8
google-auth==2.22.0
google-auth-oauthlib==1.0.0
greenlet==1.1.1
grpcio==1.57.0
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.1
huggingface-hub==0.16.4
idna==2.10
imagecodecs==2021.8.26
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.8.1
iniconfig==1.1.1
intervaltree==3.1.0
ipykernel==6.4.1
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.9.3
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.17.2
jeepney==0.7.1
Jinja2==3.0.2
joblib==1.1.0
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.1
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyter-packaging==0.7.12
jupyter-server==1.4.1
jupyterlab==3.0.14
jupyterlab-pygments==0.1.2
jupyterlab-server==2.4.0
jupyterlab-widgets==1.0.0
keyring==23.1.0
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
libarchive-c==2.9
lightning-utilities==0.10.0
lit==17.0.6
llvmlite==0.36.0
lmdb==1.4.1
locket==0.2.1
loralib==0.1.2
lxml==4.6.3
Markdown==3.4.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock==4.0.3
more-itertools==8.10.0
mpmath==1.2.1
msgpack==1.0.2
multidict==6.0.4
MultiMapping==4.1
multipart==0.2.4
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.5
nose==1.3.7
notebook==6.4.5
numba==0.53.1
numexpr==2.7.3
numpy==1.24.4
numpydoc==1.1.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.46
opencv-python==4.8.0.74
openpyxl==3.0.9
packaging==21.0
pandas==1.3.4
pandocfilters==1.4.3
paramiko==2.7.2
parso==0.7.0
partd==1.2.0
PasteDeploy==3.0.1
path==16.0.0
pathlib2==2.3.6
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.2
pep8==1.7.1
Persistence==3.5
persistent==4.9.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pip==22.2.2
pkginfo==1.7.1
pluggy==0.13.1
ply==3.11
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==4.24.1
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.21
pycurl==7.44.1
pydocstyle==6.1.1
pyerfa==2.0.0
pyflakes==2.2.0
Pygments==2.10.0
pylint==2.9.6
pyls-black==0.4.6
pyls-spyder==0.3.2
PyNaCl==1.4.0
pyodbc==4.0.0-unsupported
pyOpenSSL==21.0.0
pyparsing==3.0.4
pyrsistent==0.18.0
PySocks==1.7.1
pytest==6.2.4
python-dateutil==2.8.2
python-gettext==4.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytorch-lightning==2.1.3
pytorch-wavelets==1.3.0
pytz==2021.3
PyWavelets==1.1.1
pyxdg==0.27
PyYAML==6.0
pyzmq==22.2.1
QDarkStyle==2.8.1
QtAwesome==1.0.2
qtconsole==5.1.1
QtPy==1.10.0
regex==2021.8.3
requests==2.28.1
requests-oauthlib==1.3.1
RestrictedPython==6.0
roman==3.3
rope==0.19.0
rsa==4.9
Rtree==0.9.7
ruamel-yaml-conda==0.15.100
safetensors==0.3.1
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.1
seaborn==0.11.2
SecretStorage==3.3.1
Send2Trash==1.8.0
setuptools==58.0.4
simplegeneric==0.8.1
sip==4.19.13
six==1.16.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
soupsieve==2.2.1
Sphinx==4.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
spyder==4.2.5
spyder-kernels==1.10.2
SQLAlchemy==1.4.22
statsmodels==0.13.0
sympy==1.9
tables==3.6.1
tb-nightly==2.14.0a20230808
tblib==1.7.0
tensorboard==2.14.0
tensorboard-data-server==0.7.1
terminado==0.9.4
testpath==0.5.0
textdistance==4.2.1
thop==0.1.1.post2209072238
threadpoolctl==2.2.0
three-merge==0.1.1
tifffile==2021.7.2
timm==0.9.2
toml==0.10.2
toolz==0.11.2
torch==2.0.1
torchaudio==0.10.0+rocm4.1
torchmetrics==1.3.0
torchvision==0.11.0+cu111
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
transaction==3.0.1
triton==2.0.0
typed-ast==1.4.3
typing_extensions==4.9.0
ujson==4.0.2
unicodecsv==0.14.1
urllib3==1.26.12
waitress==2.1.2
watchdog==1.0.2
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.7
WebTest==3.0.0
Werkzeug==2.0.2
wheel==0.37.0
widgetsnbextension==3.5.1
wrapt==1.12.1
WSGIProxy2==0.5.1
wurlitzer==3.0.2
xformers==0.0.23.post1
xlrd==2.0.1
XlsxWriter==3.0.2
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.31.0
yarl==1.9.4
z3c.pt==3.3.1
zc.lockfile==2.0
ZConfig==3.6.0
zExceptions==4.2
zict==2.0.0
zipp==3.6.0
ZODB==5.7.0
zodbpickle==2.5
Zope==5.6
zope.annotation==4.8
zope.browser==2.4
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.4
zope.component==5.0.1
zope.configuration==4.4.1
zope.container==4.8
zope.contentprovider==4.2.1
zope.contenttype==4.6
zope.datetime==4.3.0
zope.deferredimport==4.4
zope.deprecation==4.4.0
zope.dottedname==5.0
zope.event==4.5.0
zope.exceptions==4.5
zope.filerepresentation==5.0.0
zope.globalrequest==1.6
zope.hookable==5.3
zope.i18n==4.9.0
zope.i18nmessageid==5.1.0
zope.interface==5.4.0
zope.lifecycleevent==4.4
zope.location==4.2
zope.pagetemplate==4.6.0
zope.processlifetime==2.4
zope.proxy==4.6.0
zope.ptresource==4.3.0
zope.publisher==6.1.0
zope.schema==6.2.1
zope.security==5.5
zope.sequencesort==4.2
zope.site==4.6.1
zope.size==4.4
zope.structuredtext==4.4
zope.tal==4.5
zope.tales==5.2
zope.testbrowser==5.6.1
zope.testing==4.10
zope.traversing==4.4.1
zope.viewlet==4.3
zstd==1.4.9.0
